<!-- Google Maps JavaScript API key: AIzaSyAUt7zxn1tF4TW8sPLL-AfayxXChgESb9Q -->


<script src="geoloc.js"></script>

<ion-view view-title="Dashboard">
  <ion-content class="padding">
    
  <div id="dash-header">
    <h2 id="dash-header">Welcome to Exers-eyes</h2>
  </div>

    <img id="dash-image" src="img/walking.jpg">

  <div>
    <button class="button button-block button-positive">Tap to begin exercising!</button>

  </div> 

<center><h3>This is where the geolocation will go</h3></center>

  </ion-content>
</ion-view>
