/* Empty. Add your own CSS if you like */

#dash-header { 
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	}

#dash-image {

	width: 250px;
	height: auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-bottom: 30px;
	
}

#p-settings {
	text-align: center;
}
